@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.p1sec1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    height: 40vh;
    background-size: cover;
}

.p1sec1h {
    color: white;
    font-size: 32px;
    padding: 20px;
    font-weight: 500;
    font-family: "Roboto";
}

.p1sec2 {
    padding: 15px;
}

.p1sec2-1 {
    margin: 10px;
    text-align: center;
}

.p1sec2imgs {
    height: 112px;
    width: 144px;
    margin-top: 10px;
}

.p1sec2h {
    color: #151765;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.p1sec2p {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.page2sec1 {
    background-color: #151765;
    padding: 20px;
    height: 170px;
}

.page2sec1t {
    padding: 10px;
}

.page2sec1h {
    color: white;
    font-family: "Roboto";
    font-size: 12px;
}

.page2sec1p1 {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
}

.page2sec1p2 {
    color: white;
    font-family: "Roboto";
    font-size: 12px;
}

.page2sec2 {
    padding: 10px;
}

.page2sec2p1{
    color: #5a7184;
    font-family: "Roboto";
    font-size: 14px;
}

.page2sec2p2{
    color: #151765;
    font-family: "Roboto";
    font-size: 10px;
}

.button-container{
    margin: 20px;
}

.button{
    color: #ffffff;
    background-color: #141961;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 12px;
    width: 75px;
    height: 24px;
    border-radius: 25px;
    border-width: 0px;
}
